/* In this file you are going to write the CSS code  */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

#background_image1{
    background: url("../img/billboard.jpg");
    background-size: 100%;
    background-repeat:no-repeat;
    height:100vh;
    width:100%;
}

.transparent_nav{
    display: flex;
    background-color: rgba(248,248,248,0.7);
    justify-content: space-between;
    align-items: center;
    padding: 0px -20%;
    position: fixed;
    width: 100%;
}

.transparent_nav img{
    margin-left: 100px;
}

.transparent_nav .nav_bar ul{
    margin-right: 60px;
}

ul#nav_list{
    list-style: none;
}

ul#nav_list li{
    display: inline;
    font-weight: 500;
    font-size: 16px;
    padding: 0px 20px;
}

.logo{
    cursor: pointer;
}

#nav_list li a{
    color: black;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

#nav_list li a:hover{
   color: #0088a9;
}

#background1{
    background-color: rgba(248,248,248,0.5);
    height: 80px;
    width: 100%;
    margin-top: -80px;
}

#background1 .cta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: super;
}

#background1 a{
    text-decoration: none;
}

 #background1 .cta #cta_text{
    margin-top: 22px;
    margin-left: 25px;
}  

#background1 .cta #cta_link{
    background-color: rgb(82,202,255);
    margin-top: 20px;
    color: white;
    padding: 15px;
    margin-right: 30px;
} 

.services_back{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: white;
    color: black;
}
.services_text{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    margin-top: 50px;
}

.services_items{
    display: inline;
}

ul#services_list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 73%;
    margin: 0px auto;
}

ul#services_list li{
    display: inline;
}

#services_seprator{
    text-align: center;
}

#services_seprator{
    margin-top: 30px;
}

.services_items img{
    margin-top: 30px;
}

.sevices_wrapper{
    margin-bottom: 50px;
}
.sevices_wrapper span{ 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: x-large;
    margin-top: 30px;
}

/* image lists start*/
ul#img_list{
    display: flex;
    flex-direction: row;
    width: auto;
}

ul#img_list img{
    display: table;
}
/* image lists ends*/

 .testimonials_text{
     text-align: center;
     color: black;
     font-family: Arial, Helvetica, sans-serif;
     font-size: x-large;
 }

 .testimonials_wrapper{
     justify-content: center;
     height: 50vh;
 }

 ul#testimonials_list{
     list-style: none;
     display: flex;
     justify-content: space-between;
     width: 45%;       
     margin: 0px auto;
     align-items: center;
 }

 ul#testimonials_list div{
     text-align: center;
     justify-content: center;
 }

 ul#testimonials_list li{
     display: inline;
 }

 .client_image{
    border-radius: 50%;
    height: 12vh;
 }

.name{
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
     font-size: large;
 }

 .testimonials_text{
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
     font-size: xx-large;
     margin-top: 60px;
     margin-bottom: 40px;
 }

 .testimonial_name{
     margin-top: 10px;
     margin-bottom: 10px;
 }

 #brand_background{
     background-image: url("../img/client_logo.png"); /*rgba(248,248,248,0.9);*/
     width: 100%;
     background-size: 100px;
     margin-top: 30px;
     background-repeat: repeat-x space;
     background-color: rgba(248,248,248,0.9);
     height: 5vh;
    justify-content: space-between;
 }

 .services_items_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services_items_content div{
    width: 70%;
    margin-top: 30px;
}

footer#footer_element{
    background-color: rgb(53,53,53);
}

footer#footer_element .footer_widget{
    display: flex;
    margin: 0px auto;
    text-align: center;
    justify-content: space-between;
    width: 60%;
}

ul#comp_list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

ul#comp_list li{
    display: inline;
    width: 12vw;
    margin-bottom: 10px;
    color: white;
}

.footer_header{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    margin-bottom: 20px;
}

ul#sup_list{
    display: flex;
    flex-direction: column;
    list-style: none;
}

ul#sup_list li{
    display: inline;
    width: 10vw;
    margin-bottom: 10px;
    color: white;
}

.Address{
    color: white;
    margin-bottom: 20px;
}

.paragraph{
    color: white;
    margin-bottom: 20px;
}

.rights{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
}